# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '12.x'
    - name: Install dependencies
      run: npm install ./javascript
    - name: Run Daily File
      run: node javascript/add_challenge_to_spaces.js
      env:
        API_TOKEN: ${{ secrets.API_TOKEN }}
        COMMUNITY_ID: ${{ secrets.COMMUNITY_ID }}
        CIRCLE_COMMUNITY_PATH: ${{ secrets.CIRCLE_COMMUNITY_PATH }}
        DAILY_SPACE_ID: ${{ secrets.DAILY_SPACE_ID }}
